@font-face {
    font-family: "cerebi";
    src: url('fonts/Cerebri Sans Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "cerebi";
    src: url('fonts/Cerebri Sans Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "cerebi";
    src: url('fonts/Cerebri Sans ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "cerebi";
    src: url('fonts/Cerebri Sans Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #14213D;
    height: 300vh;
    width: 98vw;
}
nav{
    font-size: 35px;
    font-family: 'cerebi',sans-serif;
    font-weight: bold;
    color: #FF4F5C;
    font-style: normal

}
p{
    font-size:22px;
    font-family: 'cerebi',sans-serif;
    font-weight: bold;
    font-style: normal
}
a{  
    text-decoration: none;
    color: #ffffff;
    font-size:22px;
    font-family: 'cerebi',sans-serif;
    font-weight: bold;
    font-style: normal
}
span{
    font-size: 110%;
    font-family: 'cerebi',sans-serif;
    color: #FF4F5C;
    font-weight: 800;
}
#ContainerHome{
    height: 33%;
    width: 100%;
}
#Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#List{
    width: 25%;
    cursor: pointer;
    color: #c0c0c0;
    display: flex;
    justify-content: space-around;
}
#List > :nth-child(n){
transition: color 1s ease;
}

#List > :nth-child(n)::after{
    content: '';
    display: flex;
    width: 0%;
    border: 2px solid #c79696;
    opacity: 0;
    transition: width 1s ease, opacity 1s ease, border-color 2s ease;
    border-radius: 1%;
}
#List > :nth-child(n):hover::after{
    width: 98%;
    opacity: 100%;
    border-color: #FF4F5C;
}
#List > :nth-child(n):hover{
    color: #ffffff;
}


#Home{
    color: #ffffff;
}
#Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 88%;
}
#Name{
    height: 30%;
    width: 75%;
    font-weight: 800;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #ffffff;
    margin-bottom: 10%;
}
#dev{
    margin: 3px 0px;
    font-size: 12rem;
    color: #A8DADC;
}
#ziyad{
    margin: 3px 0px;
    font-size: 10rem;
}

#Aboutme{
    color: #B5B5B5;
    font-size: 5rem !important;
    width:75%;
    letter-spacing: 2px;
}

#ContainerProjects{
    width: 100%;
    height: 65%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Projectsbutton{
    cursor: pointer;
    color: #ffffff;
    width: 12%;
    height: 10%;
    background-color: #FF4F5C;
    border: 2px solid #FF4F5C;
    border-radius: 2%;
    display: flex;
    box-shadow: 0px 0px 55px #780000;
    transition: box-shadow 1s ease;
    justify-content: center;
    align-items: center;
}
#Projectsbutton:hover{
    box-shadow: 0px 0px 120px #780000;
}

#Projectsbutton > :nth-child(n) {
    margin: 2% 2%;
}
#projects::after{
    content: '';
    display: flex;
    width: 0%;
    border: 3px solid red;
    animation: highlighter 1s ease forwards;
    animation-delay: 0.5s;
}
@keyframes highlighter {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.projectsanimation{
    position: relative;
    font-size: 4rem;
    right: 500px;
    opacity: 0%;
    color: #ffffff;
    animation: rightness 1s ease forwards, opactiness 2s ease forwards;
}
@keyframes rightness {
    0%{
        right: 500px;
    }
    100%{
        right: 0px;
    }
}
@keyframes opactiness {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

#Mainprojects{
    margin-top: 30%;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#containercards {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Center the card vertically */
}

.card {
    position: relative;
    top: 100px;
    margin: 6px 15px;
    width: 40%;
    aspect-ratio: 16/9;
    background-color: #b0aaa3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    flex-shrink: 0; /* Prevent shrinking */
    flex-grow: 0;   /* Prevent growing */
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
    width: 100%;
    height: 100%;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fefae0;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 20px;
    color: #22223b;
    font-size: 200%;
    font-family: 'cerebi',sans-serif;
    font-weight: bold;
    font-style: normal
}

.card:hover img {
    scale: 0;
}

.card__description {
    margin: 10px 0 10px;
    font-size: 30px;
    color: #22223b;
    line-height: 1.4;
    font-family: 'cerebi',sans-serif;
    font-weight: normal;
    font-style: normal
}

.card__button {
    padding: 15px;
    border-radius: 8px;
    background: #777;
    margin-right: 10px;
    border: none;
    color: #fefae0;
    font-family: 'cerebi',sans-serif;
    font-weight: bold;
    font-style: normal
}

.card__button.secondary {
    background: transparent;
    color: #777;
    border: 1px solid #777;
}
